sidebar works



<div class="row">
    <div class="col-3">
        <div class="sidebar">
           <div class="row ">
               <div class="col-6">
                  <div class="circle">
                      <img src="./assets/images/avatar.png" class="avtr">
                    </div>
                </div>
                    <div class=" col-6 "><h2 class="name">Jack</h2><br>
                        <p class="money">your money</p>
                    </div>
                   </div>
                   <div class="row">
                    <ul class="menu">
                       <li routerLink="dashboard"><img src="../../../assets/img/dashboard.png"class="menuimg">Dashboard</li>
                       <li routerLink="income"><img src="../../../assets/img/income.png" class="menuimg">Income</li>
                       <li routerLink="expense"><img src="../../../assets/img/accounting.png" class="menuimg">Expense</li>
                    </ul>
                </div>
               </div>
           </div>   