
<ul class="nav flex-column c1">
    
        <div class="circle">
            <img src="../../../assets/img/avatar.png" class="avtr">
            </div>
        <h4>Jack</h4>
    
    <hr style="color:rgb(230, 33, 33)">
    <li class="nav-item mx-2">
        <img src="../../../assets/img/dashboard.png"class="menuimg"><a routerLink="./dashboard"
        class="nav-link active text-black d-inline-block mt-3">
        <h6>Dashboard</h6>
      </a>
    </li>
    <li class="nav-item mx-2">
        <img src="../../../assets/img/accounting.png" class="menuimg"><a routerLink="./expense" class="nav-link text-black d-inline-block mt-3">
        <a routerLink="expense">Expense</a>
      </a>
    </li>
    <li class="nav-item mx-2">
        <img src="../../../assets/img/income.png" class="menuimg"><a class="nav-link text-black d-inline-block mt-3" routerLink="./income">
        <a routerLink="income">Income</a>
      </a>
    </li>
   
  </ul>








        <!-- <div class="sidebar">
           <div class="row ">
               <div class="col-6">
                  <div class="circle">
                    <img src="../../../assets/img/avatar.png" class="avtr">
                    </div>
                </div>
                    <div class=" col-6 "><h2 class="name">Jack</h2><br>
                        <p class="money">your money</p>
                    </div>
                   </div>
                   <div class="row">
                    <ul class="menu">
                       <li routerLink="/dashboard"><img src="../../../assets/img/dashboard.png"class="menuimg">Dashboard</li>
                       <li routerLink="/income"><img src="../../../assets/img/income.png" class="menuimg">Income</li>
                       <li routerLink="/expense"><img src="../../../assets/img/accounting.png" class="menuimg">Expense</li>
                    </ul>
                </div>
               </div>
          -->